header.version_1
    .layer
    // Mobile menu overlay mask
    .main_header
      .container
        .row.small-gutters
          .col-xl-3.col-lg-3.d-lg-flex.align-items-center
            #logo
              a(href='/')
                img(src='/img/logo.png' alt='' width='100' height='35')
          nav.col-xl-6.col-lg-7
            a.open_close(href='javascript:void(0);')
              .hamburger.hamburger--spin
                .hamburger-box
                  .hamburger-inner
          .col-xl-3.col-lg-2.d-lg-flex.align-items-center.justify-content-end.text-right
            a.phone_top(href='tel://0907195314')
              strong
                span Cần trợ giúp?
                | +0907 195 314
        // /row
    // /main_header
    .main_nav.Sticky
      .container
        .row.small-gutters
          .col-xl-3.col-lg-3.col-md-3
            nav.categories
              ul.clearfix
                li
                  span
                    a(href='/vot-cau-long')
                      span.hamburger.hamburger--spin
                        span.hamburger-box
                          span.hamburger-inner
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Vợt cầu lông
                  #menu
                    ul
                      each brand in brands 
                        li
                          span
                            a(href=`/vot-cau-long-${brand.name}.cat`)= `${brand.name}`.toUpperCase()

          .col-xl-6.col-lg-7.col-md-6.d-none.d-md-block
            form.custom-search-input
              input(type='text' placeholder='Tìm kiếm sản phẩm ...')
              button(type='submit')
                i.header-icon_search_custom
          .col-xl-3.col-lg-2.col-md-3
            ul.top_tools
              li
                .dropdown.dropdown-cart
                  a.cart_bt(href='/cart')
                    //- strong 0
                  .dropdown-menu
                    ul
                      li
                        // ul row product
            
                    .total_drop
                      a.btn_1(href='/cart') Xem giỏ hàng
                // /dropdown-cart
              li
                .dropdown.dropdown-access
                  a(href='/user')
                    if user
                      img.image_avatar(src=`../img/users/${user.photo}`)
                    else 
                      img.image_avatar(src=`../img/default.jpg`)
                  .dropdown-menu
                    if user
                      a.btn_1(href='/user')= `${user.name}`
                    else 
                      if user 
                        a.btn_1(href='')= user.name
                      else 
                        a.btn_1(href='/login') Đăng nhập hoặc đăng ký
                    
                    ul
                      li
                        a(href='/track-order')
                          i.ti-truck
                          | Kiểm tra tình trạng đơn hàng
                      li
                        a(href='/account')
                          i.ti-package
                          | Đơn mua
                      li
                        a(href='/user')
                          i.ti-user
                          | Trang cá nhân
                      li#logout
                        a(href='')
                          i
                          | Đăng xuất
                      
                // /dropdown-access
        // /row
      .search_mob_wp
        input.form-control(type='text' placeholder='Tìm kiếm sản phẩm')
        input.btn_1.full-width(type='submit' value='Search')