mixin productCard(racket)
    .item
      .grid_item
        figure
          a(href= `/${racket.slug}.${racket._id}`)
            - if (racket.imageCover.startsWith("http"))
                img(src= racket.imageCover alt= racket.slug)
            - else 
                img(src= `./img/rackets/${racket.imageCover}` alt= racket.slug)
        .rating
          - arr = [1,2,3,4,5]
            each i in arr 
              if i <= racket.rating 
                i.icon-star.voted
              else 
                i.icon-star 
            i= `${racket.rating} (${racket.ratingQuantity})`
        
        a(href= `/${racket.slug}.${racket._id}`)
          h3= racket.name
        .price_box
          - const formatter = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' })
          - priceFormat = formatter.format(racket.price)
          - priceDiscountFormat = formatter.format(racket.priceDiscount)
          span.new_price= priceFormat
          
          if racket.priceDiscount
            span.old_price= priceDiscountFormat
        ul
          li
            a.tooltip-1(data-toggle='tooltip' urlProduct data-placement='left' title='Thêm vào so sánh')
              i.ti-control-shuffle(value= racket._id)
              span Thêm để so sánh
          li
            a.tooltip-1(data-toggle='tooltip' data-placement='left' title='Thêm vào giỏ hàng')
              i.ti-shopping-cart(value= racket._id)
              span Thêm vào giỏ hàng