extends base
include _productCard

mixin sectionProductType(nameSection) 
  .main_title
    h2= nameSection

block content
  main
    #carousel-home
      .owl-carousel.owl-theme
        // SLIDES
        each slide in slides 
          .owl-slide.cover(style=`background-image: url(img/slides/${slide.image});`)
            .opacity-mask.d-flex.align-items-center(data-opacity-mask='rgba(0, 0, 0, 0.5)')
              .container
                .row.justify-content-center.justify-content-md-end
                  .col-lg-6.static
                    .slide-text.text-right.white
                      h2.owl-slide-animated.owl-slide-title
                        | #{slide.title[0]}
                        br 
                        | #{slide.title[1]}
                      p.owl-slide-animated.owl-slide-subtitle= `${slide.subtitle}`
                      .owl-slide-animated.owl-slide-cta
                        a.btn_1(href=`${slide.ref}` role='button') Shop Now

    // BANNER
    ul#banners_grid.clearfix
      each banner in banners
        li
          a.img_container(href=`${banner.ref}`)
            img.lazy(src='img/banners_cat_placeholder.jpg' data-src=`img/banner/${banner.image}` alt='')
            .short_info.opacity-mask(data-opacity-mask='rgba(0, 0, 0, 0.5)')
              h3= `${banner.title}`
              div
                span.btn_1 Shop Now

    // /banners_grid
    .container.margin_60_35
        // SECTION PRODUCT: BEST SELLING, NEWEST...
        each sectionRacket in sectionRackets 
          +sectionProductType(sectionRacket.title)
          .owl-carousel.owl-theme.products_carousel
            each racket in sectionRacket.rackets
              +productCard(racket)
      
      

    // COMMON SCRIPTS
    script(src='js/common_scripts.min.js')
    script(src='js/main.js')
    // SPECIFIC SCRIPTS
    script(src='js/carousel-home.min.js')
    script(src='js/overview.js')