extends base

block content
  main
    #carousel-home
      .owl-carousel.owl-theme
        // SLIDES
        each slide in slides 
          .owl-slide.cover(style=`background-image: url(img/slides/${slide.image});`)
            .opacity-mask.d-flex.align-items-center(data-opacity-mask='rgba(0, 0, 0, 0.5)')
              .container
                .row.justify-content-center.justify-content-md-end
                  .col-lg-6.static
                    .slide-text.text-right.white
                      h2.owl-slide-animated.owl-slide-title
                        | #{slide.title[0]}
                        br 
                        | #{slide.title[1]}
                      p.owl-slide-animated.owl-slide-subtitle= `${slide.subtitle}`
                      .owl-slide-animated.owl-slide-cta
                        a.btn_1(href=`${slide.ref}` role='button') Shop Now

    // BANNER
    ul#banners_grid.clearfix
      each banner in banners
        li
          a.img_container(href=`${banner.ref}`)
            img.lazy(src='img/banners_cat_placeholder.jpg' data-src=`img/banner/${banner.image}` alt='')
            .short_info.opacity-mask(data-opacity-mask='rgba(0, 0, 0, 0.5)')
              h3= `${banner.title}`
              div
                span.btn_1 Shop Now

    // /banners_grid
    .container.margin_60_35
      .main_title
        h2 Victor
        span Products
        p Cum doctus civibus efficiantur in imperdiet deterruisset
      .owl-carousel.owl-theme.products_carousel
        .item
          .grid_item
            figure
              a(href='product-detail.html')
                img.owl-lazy(src='img/products/product_placeholder_square_medium.jpg' data-src='img/products/shoes/3.jpg' alt='')
            .rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
            a(href='product-detail.html')
              h3 Air Wildwood ACG
            .price_box
              span.new_price $75.00
              span.old_price $155.00
            ul
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to favorites')
                  i.ti-heart
                  span Add to favorites
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to compare')
                  i.ti-control-shuffle
                  span Add to compare
              li
                a.tooltip-1(href='#0' data-toggle='tooltip' data-placement='left' title='Add to cart')
                  i.ti-shopping-cart
                  span Add to cart
          // /grid_item
        // /item
      // /products_carousel
    // /container

    // COMMON SCRIPTS
    script(src='js/common_scripts.min.js')
    script(src='js/main.js')
    // SPECIFIC SCRIPTS
    script(src='js/carousel-home.min.js')