extends base
include _productCard
include _paginate

mixin item(racket) 
  .grid_item
    - url= `/${racket.slug}.${racket._id}`
      figure
        a(href= url)
          - if (racket.imageCover.startsWith("http"))
              img.img-fluid(src= racket.imageCover alt= racket.slug style='height: 264.400px; width: 264.400px')
          - else 
              img.img-fluid(src= `./img/rackets/${racket.imageCover}` alt= racket.slug style='height: 264.400px; width: 264.400px')
      a(href= url)
        h3= racket.name
      .price_box
        - const formatter = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' })
        - priceFormat = formatter.format(racket.price)
        - priceDiscountFormat = formatter.format(racket.priceDiscount)
        span.new_price= priceFormat

        if racket.priceDiscount
          span.old_price= priceDiscountFormat
      ul
        li
          a.tooltip-1(data-toggle='tooltip' data-placement='left' title='Add to compare')
            i.ti-control-shuffle(value= racket._id)
            span Thêm để so sánh
        li
          a.tooltip-1(data-toggle='tooltip' data-placement='left' title='Add to cart')
            i.ti-shopping-cart(value= racket._id)
            span Thêm vào giỏ hàng


block append head
  link(href='/css/listing.css' rel='stylesheet')

block content
  main
    .container.margin_30
      .row
        .col-lg-9
          .top_banner
            .opacity-mask.d-flex.align-items-center(data-opacity-mask='rgba(0, 0, 0, 0.3)')
              .container.pl-lg-5
                // header page
                h1= headerPage
            img.img-fluid(src='/img/banner/search-banner.jpg' alt='')
         
          // /top_banner
          #stick_here
          .toolbox.elemento_stick.add_bottom_30
            .container
              ul.clearfix
                li
                  .sort_select
                    select#sort(name='sort')
                      option(value='price' selected='selected') Giá tăng dần
                      option(value='-price') Giá giảm dần
                      option(value='name') Từ A - Z
                      option(value='-name') Từ Z - A
                      option(value='sold') Mua nhiều

                li
                  a.open_filters(href='#0')
                    i.ti-filter
                    span Tìm kiếm
          // /toolbox
          .row.small-gutters
            each racket in rackets
              .col-6.col-md-4
                +item(racket)
            
          // number of number page :))
          +paginate(5)

        // /col
        aside#sidebar_fixed.col-lg-3
          .filter_col
            .inner_bt
              a.open_filters(href='#')
                i.ti-close
            .filter_type.version_2
              h4
                a.opened(href='#filter_1' data-toggle='collapse') Thương hiệu
              #filter_1.collapse.show
                ul
                  each brand in brands 
                    li
                      label.container_check
                        | #{`${brand.name}`.toUpperCase()}
                        input(type='checkbox' name='checkbox' data-field='brand' value= brand.name)
                        span.checkmark

            // /filter_type
            .filter_type.version_2
              h4
                a.open(href='#filter_2' data-toggle='collapse') Giá sản phẩm
              #filter_2.collapse.show
                ul
                  li
                    label.container_check
                      | Giá dưới 500.000đ
                      input(type='checkbox' name='checkbox' data-field='price' value= '0-500000')
                      span.checkmark
                  li
                    label.container_check
                      | 500.000đ &mdash; 1 triệu
                      input(type='checkbox' name='checkbox' data-field='price' value= '500000-1000000')
                      span.checkmark
                  li
                    label.container_check
                      | 1 triệu &mdash; 2 triệu
                      input(type='checkbox' name='checkbox' data-field='price' value= '1000000-2000000')
                      span.checkmark
                  li
                    label.container_check
                      | 2 triệu &mdash; 3 triệu
                      input(type='checkbox' name='checkbox' data-field='price' value= '2000000-3000000')
                      span.checkmark
                  li
                    label.container_check
                      | Giá trên 3 triệu
                      input(type='checkbox' name='checkbox' data-field='price' value= '3000000-0')
                      span.checkmark

    script(src='/js/list-grid.js')