extends base

mixin detailProperty(property, value) 
  tr  
    td
      strong= property || 'N/A'
    td= value || 'N/A'

block append head
  link(href='css/product_page.css' rel='stylesheet') 

block content 
  main
    .container.margin_30
      .row
        .col-md-6
          .all
            .slider
              .owl-carousel.owl-theme.main
                .item-box(style='background-image: url(img/products/shoes/1.jpg);')
                .item-box(style='background-image: url(img/products/shoes/2.jpg);')
                .item-box(style='background-image: url(img/products/shoes/3.jpg);')
                .item-box(style='background-image: url(img/products/shoes/4.jpg);')
                .item-box(style='background-image: url(img/products/shoes/5.jpg);')
                .item-box(style='background-image: url(img/products/shoes/6.jpg);')
              .left.nonl
                i.ti-angle-left
              .right
                i.ti-angle-right
            .slider-two
              .owl-carousel.owl-theme.thumbs
                .item.active(style='background-image: url(img/products/shoes/1.jpg);')
                .item(style='background-image: url(img/products/shoes/2.jpg);')
                .item(style='background-image: url(img/products/shoes/3.jpg);')
                .item(style='background-image: url(img/products/shoes/4.jpg);')
                .item(style='background-image: url(img/products/shoes/5.jpg);')
                .item(style='background-image: url(img/products/shoes/6.jpg);')
              .left-t.nonl-t
              .right-t
        .col-md-6
          // /page_header
          .prod_info
            h1= racket.name
            span.rating
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star.voted
              i.icon-star
              em 4 reviews
            p
              br 
              | #{racket.desciption}
            .prod_options
              .row
                label.col-xl-5.col-lg-5.col-md-6.col-6
                  strong Số lượng
                .col-xl-4.col-lg-5.col-md-6.col-6
                  .numbers-row
                    input#quantity_1.qty2(type='text' value='1' name='quantity_1')
            .row
              .col-lg-5.col-md-6
                .price_main
                - const formatter = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' })
                - priceFormat = formatter.format(racket.price)
                - priceDiscountFormat = formatter.format(racket.priceDiscount)
                  span.new_price= priceFormat
                  span.percentage -20%
                  span.old_price= priceDiscountFormat
              .col-lg-4.col-md-6
                a#btn-add-cart.btn_1 Thêm vào giỏ hàng
          // /prod_info
          .product_actions
            ul
              li
                a(href='#')
                  i.ti-control-shuffle
                  span Thêm để so sánh
          // /product_actions
      // /row
    // /container
    .tabs_product
      .container
        ul.nav.nav-tabs(role='tablist')
          li.nav-item
            a#tab-A.nav-link.active(href='#pane-A' data-toggle='tab' role='tab') Mô tả
          li.nav-item
            a#tab-B.nav-link(href='#pane-B' data-toggle='tab' role='tab') Đánh giá
    // /tabs_product
    .tab_content_wrapper
      .container
        .tab-content(role='tablist')
          #pane-A.card.tab-pane.fade.active.show(role='tabpanel' aria-labelledby='tab-A')
            #heading-A.card-header(role='tab')
              h5.mb-0
                a.collapsed(data-toggle='collapse' href='#collapse-A' aria-expanded='false' aria-controls='collapse-A')
                  | Mô tả
            #collapse-A.collapse(role='tabpanel' aria-labelledby='heading-A')
              .card-body
                .row.justify-content-between
                  .col-lg-6
                    h3 Chi tiết
                    p
                      | Lorem ipsum dolor sit amet, in eleifend 
                      strong inimicus elaboraret
                      |  his, harum efficiendi mel ne. Sale percipit vituperata ex mel, sea ne essent aeterno sanctus, nam ea laoreet civibus electram. Ea vis eius explicari. Quot iuvaret ad has.
                    p
                      | Vis ei ipsum conclusionemque. Te enim suscipit recusabo mea, ne vis mazim aliquando, everti insolens at sit. Cu vel modo unum quaestio, in vide dicta has. Ut his laudem explicari adversarium, nisl 
                      strong laboramus hendrerit
                      |  te his, alia lobortis vis ea.
                    p
                      | Perfecto eleifend sea no, cu audire voluptatibus eam. An alii praesent sit, nobis numquam principes ea eos, cu autem constituto suscipiantur eam. Ex graeci elaboraret pro. Mei te omnis tantas, nobis viderer vivendo ex has.
                  .col-lg-5
                    h3 Mô tả
                    .table-responsive
                      table.table.table-sm.table-striped
                        tbody
                         each value, property in racketForShow
                          +detailProperty(property, value)
                    // /table-responsive
          // /TAB A
          #pane-B.card.tab-pane.fade(role='tabpanel' aria-labelledby='tab-B')
            #heading-B.card-header(role='tab')
              h5.mb-0
                a.collapsed(data-toggle='collapse' href='#collapse-B' aria-expanded='false' aria-controls='collapse-B')
                  | Reviews
            #collapse-B.collapse(role='tabpanel' aria-labelledby='heading-B')
              .card-body
                .row.justify-content-between
                  .col-lg-6
                    .review_content
                      .clearfix.add_bottom_10
                        span.rating
                          i.icon-star
                          i.icon-star
                          i.icon-star
                          i.icon-star
                          i.icon-star
                          em 5.0/5.0
                        em Published 54 minutes ago
                      h4 &quot;Commpletely satisfied&quot;
                      p
                        | Eos tollit ancillae ea, lorem consulatu qui ne, eu eros eirmod scaevola sea. Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut. Viderer petentium cu his.
                  .col-lg-6
                    .review_content
                      .clearfix.add_bottom_10
                        span.rating
                          i.icon-star
                          i.icon-star
                          i.icon-star
                          i.icon-star.empty
                          i.icon-star.empty
                          em 4.0/5.0
                        em Published 1 day ago
                      h4 &quot;Always the best&quot;
                      p
                        | Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut. Viderer petentium cu his.
                // /row
                .row.justify-content-between
                  .col-lg-6
                    .review_content
                      .clearfix.add_bottom_10
                        span.rating
                          i.icon-star
                          i.icon-star
                          i.icon-star
                          i.icon-star
                          i.icon-star.empty
                          em 4.5/5.0
                        em Published 3 days ago
                      h4 &quot;Outstanding&quot;
                      p
                        | Eos tollit ancillae ea, lorem consulatu qui ne, eu eros eirmod scaevola sea. Et nec tantas accusamus salutatus, sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut. Viderer petentium cu his.
                  .col-lg-6
                    .review_content
                      .clearfix.add_bottom_10
                        span.rating
                          i.icon-star
                          i.icon-star
                          i.icon-star
                          i.icon-star
                          i.icon-star
                          em 5.0/5.0
                        em Published 4 days ago
                      h4 &quot;Excellent&quot;
                      p
                        | Sit commodo veritus te, erat legere fabulas has ut. Rebum laudem cum ea, ius essent fuisset ut. Viderer petentium cu his.
                // /row
                p.text-right
                  a.btn_1(href='leave-review.html') Leave a review
              // /card-body
          // /tab B
        // /tab-content
      // /container
    // /tab_content_wrapper
    .container.margin_60_35
      .main_title
        h2 Related
        span Products
        p Cum doctus civibus efficiantur in imperdiet deterruisset.
      .owl-carousel.owl-theme.products_carousel
        // CARD PRODUCT
        productCard(urlProduct, img, rating, productName, price, priceDiscount)
     
      // /products_carousel
    
  script(src='/js/common_scripts.min.js')
  script(src='/js/carousel_with_thumbs.js')
  script(src='/js/product-detail.js')